.stack-header {
	height: 100vh;
	text-align: center;
	background: rgb(9, 13, 15);
	margin-top: -1px;
	padding-top: 1px;
}

.stack-header h2 {
	padding-top: 5rem;
	color: aqua;
	padding-bottom: 5rem;
}

/* wrapper that contains the grid items/cards*/
.skills-container {
	background-color: transparent;
}

/* individual card */
.card {
	height: 67vh;
	width: 100%;
}

.card:hover {
	transition: 0.25s ease-in-out;
	transform: scale(1.05);
}

/* card contents */
.card-content {
	color: white;
	font-size: 1.5rem;
}

.card-title {
	color: aqua;
	margin-bottom: 10%;
}

.row1 {
	background-color: transparent;
	height: 90px;
	width: 80%;
	justify-content: center;
}

.row2 {
	margin-top: 25%;
	margin-bottom: 25%;
	background-color: transparent;
	height: 90px;
}

.row3 {
	background-color: transparent;
	height: 90px;
}

.react-name {
	color: #61dbfb;
}

@media (max-width: 768px) {
	.stack-header {
		margin-top: -3rem;
		height: 250vh;
	}
}

@media (max-width: 768px) {
	.skills-section {
		height: 100vh;
	}
}
