.exit-container {
	position: fixed;
	background-color: red;
	width: 100%;
}

.exit {
	position: fixed;
	font-size: 2rem;
	background-color: transparent;
	width: 5%;
	right: 0;
	margin-right: -3%;
	margin-top: -0.25%;
	color: white;
}

.exit:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	.exit {
		margin-right: 3%;
	}
}
