.scrollNext{

    color: aqua;
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: -6rem;
    background: rgb(9, 13, 15);
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.scrollNext:hover{
    animation: bounce 1s;
    cursor: pointer;
}

@media(max-width: 768px){
    .scrollNext{
        margin-top: -20rem;
        display: flex;
    }
}