.scrollTop {
	position: fixed;

	bottom: 20px;
	align-items: center;

	justify-content: center;
	z-index: 1000;
	cursor: pointer;
	animation: fadeIn 0.2s;
	transition: opacity 0.4s;
	opacity: 0.5;
	color: aqua;
	height: 3.5rem;
	width: 5rem;
	margin-left: 48.5%;
}

.scrollTop:hover {
	opacity: 1;
}

@media (max-width: 768px) {
	.scrollTop {
		width: 5rem;
		margin-left: 39%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
