.exit-button{
    position: absolute;
    display: flex;
    top: 0.5rem;
    right: 1rem;
    height: 25px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
}

.exit-button:hover{
    outline: 0;
    color: lightseagreen;
}

.side-drawer{
    height: 50%;
    background:  rgb(13, 39, 53);
    box-shadow: 2px 0px 5px rgba(0, 0,0, 0.5);
    position: fixed;
    top: 20;
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: .4s
}

.side-drawer.open{
    transform: translateX(0%);
    background: rgb(13, 39, 53);
}


.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 1rem 0;
}

.side-drawer a {
    font-size: 1.2rem;
    color: white;
    padding-left: 2rem;
}

.side-drawer a:hover, .side-drawer a:active {
    color: lightseagreen;
    text-decoration: none;
}

